In [17]:
import pandas as pd 
import numpy as np
df1=pd.read_csv("credits.csv")
df2=pd.read_csv("movies_metadata.csv")

In [18]:
# need to display full (non-truncated) dataframe information in html when converting from pandas dataframe to html
# pd.set_option('display.max_colwidth', -1)

In [19]:
# Data Wrangling: drop columns in df2 including "adult", "belongs_to_collection", "imdb_id", "poster_path",
# "spoken_languages", "video", and "overview" (10th column having mixed types)
df2.drop(["adult","belongs_to_collection","imdb_id","poster_path","spoken_languages","video","overview"], axis=1, inplace=True)

In [20]:
df1.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [21]:
df2.columns

Index(['budget', 'genres', 'homepage', 'id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime', 'status',
       'tagline', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [22]:
df1.id.value_counts()

141971    3
187156    2
152795    2
99080     2
24026     2
15028     2
265189    2
97995     2
11752     2
199591    2
3057      2
25541     2
109962    2
69234     2
13209     2
18440     2
9755      2
8767      2
132641    2
11115     2
123634    2
42495     2
12600     2
10991     2
4912      2
157301    2
5511      2
84198     2
43629     2
142563    2
         ..
105158    1
33477     1
297668    1
45763     1
244418    1
41665     1
174784    1
112130    1
4823      1
90873     1
37607     1
757       1
68340     1
422500    1
74481     1
10992     1
53999     1
49901     1
58089     1
61999     1
27352     1
33765     1
176867    1
376934    1
86751     1
19164     1
29403     1
31450     1
25305     1
276895    1
Name: id, Length: 45432, dtype: int64

In [23]:
df2.id.value_counts()

141971    3
25541     2
110428    2
132641    2
4912      2
5511      2
159849    2
119916    2
77221     2
14788     2
105045    2
11115     2
10991     2
97995     2
99080     2
18440     2
69234     2
265189    2
109962    2
42495     2
168538    2
13209     2
23305     2
84198     2
298721    2
12600     2
152795    2
22649     2
15028     2
257346    1
         ..
59853     1
105384    1
26042     1
49967     1
48419     1
18095     1
42694     1
68242     1
23627     1
62796     1
10875     1
42822     1
317744    1
44508     1
16071     1
27724     1
122190    1
26882     1
215373    1
55612     1
11513     1
381353    1
302472    1
132957    1
104476    1
249170    1
101818    1
91262     1
335897    1
93840     1
Name: id, Length: 45436, dtype: int64

In [24]:
df1.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [25]:
df2.head(1)

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0

In [26]:
df1.count()

cast    45476
crew    45476
id      45476
dtype: int64

In [27]:
df2.count()

budget                  45466
genres                  45466
homepage                 7782
id                      45466
original_language       45455
original_title          45466
popularity              45461
production_companies    45463
production_countries    45463
release_date            45379
revenue                 45460
runtime                 45203
status                  45379
tagline                 20412
title                   45460
vote_average            45460
vote_count              45460
dtype: int64

In [28]:
df2.query('id=="1997-08-20"')

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
19730,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,False,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df2.id.astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '1997-08-20'

In [12]:
# Let's join the two datasets of credits.csv and movies_metadata.csv on the 'id' column:
df2=df2.merge(df1,on="id")

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat