In [40]:
import pandas as pd 
import numpy as np
df1=pd.read_csv("credits.csv")
df2=pd.read_csv("movies_metadata.csv")

In [41]:
# need to display full (non-truncated) dataframe information in html when converting from pandas dataframe to html
# pd.set_option('display.max_colwidth', -1)

In [42]:
# Data Wrangling: drop columns in df2 including "adult", "belongs_to_collection", "imdb_id", "poster_path",
# "spoken_languages", "video", and "overview" (10th column having mixed types)
df2.drop(["adult","belongs_to_collection","imdb_id","poster_path","spoken_languages","video","overview"], axis=1, inplace=True)

In [43]:
df1.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [44]:
df2.columns

Index(['budget', 'genres', 'homepage', 'id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime', 'status',
       'tagline', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [45]:
df1.id.count()

45476

In [46]:
df2.id.count()

45466

In [47]:
df1.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [48]:
df2.head(1)

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0

In [49]:
df1.count()

cast    45476
crew    45476
id      45476
dtype: int64

In [50]:
df2.count()

budget                  45466
genres                  45466
homepage                 7782
id                      45466
original_language       45455
original_title          45466
popularity              45461
production_companies    45463
production_countries    45463
release_date            45379
revenue                 45460
runtime                 45203
status                  45379
tagline                 20412
title                   45460
vote_average            45460
vote_count              45460
dtype: int64

In [51]:
df2["id"] = df2["id"].map(lambda x: x.replace("-",""))   # Wrangling data: editorial of absurd data row where id in the form of ****-**-**

In [52]:
df2.query('budget=="/ff9qCepilowshEtG2GYWwzt2bs4.jpg"')  # Test the effect of the command above

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
19730,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",19970820,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,False,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df2.id.dtypes

dtype('O')

In [54]:
df1.id.dtypes

dtype('int64')

In [55]:
df2[df2["budget"]=="/ff9qCepilowshEtG2GYWwzt2bs4.jpg"].id.dtypes

dtype('O')

In [56]:
df2["id"] = df2["id"].astype('int64')

In [57]:
df1.id.dtypes

dtype('int64')

In [58]:
df2.id.dtypes

dtype('int64')

In [59]:
df_merge = df2.merge(df1,on='id')

In [60]:
df_merge.count()

budget                  45538
genres                  45538
homepage                 7792
id                      45538
original_language       45527
original_title          45538
popularity              45535
production_companies    45535
production_countries    45535
release_date            45451
revenue                 45535
runtime                 45278
status                  45454
tagline                 20439
title                   45535
vote_average            45535
vote_count              45535
cast                    45538
crew                    45538
dtype: int64