In [2]:
import pandas as pd 
import numpy as np
df1=pd.read_csv("credits.csv")
df2=pd.read_csv("movies_metadata.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# need to display full (non-truncated) dataframe information in html when converting from pandas dataframe to html
# pd.set_option('display.max_colwidth', -1)

In [4]:
# Data Wrangling: drop columns in df2 including "adult", "belongs_to_collection", "imdb_id", "poster_path",
# "spoken_languages", "video", and "overview" (10th column having mixed types)
df2.drop(["adult","belongs_to_collection","imdb_id","poster_path","spoken_languages","video","overview"], axis=1, inplace=True)

In [5]:
df1.columns

Index(['cast', 'crew', 'id'], dtype='object')

In [6]:
df2.columns

Index(['budget', 'genres', 'homepage', 'id', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime', 'status',
       'tagline', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [7]:
df1.id.count()

45476

In [8]:
df2.id.count()

45466

In [9]:
df1.head(1)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862

In [10]:
df2.head(1)

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0

In [11]:
df1.count()

cast    45476
crew    45476
id      45476
dtype: int64

In [12]:
df2.count()

budget                  45466
genres                  45466
homepage                 7782
id                      45466
original_language       45455
original_title          45466
popularity              45461
production_companies    45463
production_countries    45463
release_date            45379
revenue                 45460
runtime                 45203
status                  45379
tagline                 20412
title                   45460
vote_average            45460
vote_count              45460
dtype: int64

In [13]:
df2["id"] = df2["id"].map(lambda x: x.replace("-",""))   # Wrangling data: editorial of absurd data row where id in the form of ****-**-**

In [14]:
df2.query('budget=="/ff9qCepilowshEtG2GYWwzt2bs4.jpg"')  # Test the effect of the command above

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
19730,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",19970820,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,False,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2.id.dtypes

dtype('O')

In [16]:
df1.id.dtypes

dtype('int64')

In [17]:
df2[df2["budget"]=="/ff9qCepilowshEtG2GYWwzt2bs4.jpg"].id.dtypes

dtype('O')

In [18]:
df2["id"] = df2["id"].astype('int64')

In [19]:
df1.id.dtypes

dtype('int64')

In [20]:
df2.id.dtypes

dtype('int64')

In [21]:
df_merge = df2.merge(df1,on='id')

In [22]:
df_merge.count()

budget                  45538
genres                  45538
homepage                 7792
id                      45538
original_language       45527
original_title          45538
popularity              45535
production_companies    45535
production_countries    45535
release_date            45451
revenue                 45535
runtime                 45278
status                  45454
tagline                 20439
title                   45535
vote_average            45535
vote_count              45535
cast                    45538
crew                    45538
dtype: int64

In [23]:
df_merge[df_merge["vote_average"]==0]

,budget,genres,homepage,id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,cast,crew
83,0,[],NaN,188588,en,Last Summer in the Hamptons,0.531159,[],[],1995-11-22,0.0,108.0,Released,NaN,Last Summer in the Hamptons,0.0,0.0,"[{'cast_id': 2, 'character': 'Oona Hart', 'cre...","[{'credit_id': '52fe4d3c9251416c7513477d', 'de..."
107,0,"[{'id': 80, 'name': 'Crime'}]",NaN,96357,en,Headless Body in Topless Bar,0.001346,[],[],1995-05-20,0.0,110.0,Released,NaN,Headless Body in Topless Bar,0.0,0.0,"[{'cast_id': 1, 'character': 'Man', 'credit_id...","[{'credit_id': '58bc8c65c3a36851cd025bb8', 'de..."
126,0,[],NaN,290157,en,Jupiter's Wife,0.001178,[],[],1995-01-01,0.0,87.0,Released,A Haunting Real Life Mystery,Jupiter's Wife,0.0,0.0,"[{'cast_id': 2, 'character': 'Herself', 'credi...","[{'credit_id': '5405dbddc3a368119c003c1e', 'de..."
132,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",NaN,124636,en,Sonic Outlaws,0.001838,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-08-01,0.0,87.0,Released,NaN,Sonic Outlaws,0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4ab0c3a368484e161d31', 'de..."
137,0,[],NaN,124639,en,Target,0.001205,[],[],1995-08-01,0.0,122.0,Released,NaN,Target,0.0,0.0,[],"[{'credit_id': '52fe4ab0c3a368484e161d3d', 'de..."
164,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,259209,en,Feast of July,0.523575,"[{'name': 'Touchstone Pictures', 'id': 9195}, ...",[],1995-10-12,0.0,116.0,Released,There is no escape from the past.,Feast of July,0.0,0.0,"[{'cast_id': 17, 'character': 'Bella Ford', 'c...","[{'credit_id': '5370ac8f0e0a2647d80147f7', 'de..."
280,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,109560,en,New York Cop,0.004537,"[{'name': 'TOEI', 'id': 7260}, {'name': 'Dista...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",1993-08-14,0.0,93.0,Released,The toughest city in the world deserves the to...,New York Cop,0.0,0.0,"[{'cast_id': 1, 'character': 'Toshi', 'credit_...","[{'credit_id': '54d5d7909251416b93001949', 'de..."
390,0,[],NaN,267188,en,Desert Winds,0.251223,[],[],1997-12-31,0.0,97.0,Released,It began with a whisper,Desert Winds,0.0,0.0,"[{'cast_id': 2, 'character': 'Eugene', 'credit...","[{'credit_id': '535e69b80e0a264fdb006416', 'de..."
395,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,291731,en,Homage,0.014925,"[{'name': 'Skyline Entertainment Partners', 'i...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-05-03,0.0,97.0,Released,He would sacrifice everything for her...even her.,Homage,0.0,0.0,"[{'cast_id': 3, 'character': 'Katherine Samuel...","[{'credit_id': '5464f1930e0a2635c30020d4', 'de..."
397,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,203119,en,Open Season,0.012456,"[{'name': 'Home Box Office (HBO)', 'id': 3268}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-05-03,0.0,97.0,Released,NaN,Open Season,0.0,0.0,"[{'cast_id': 1, 'character': 'Stuart Sain', 'c...","[{'credit_id': '52fe4cd9c3a368484e1c99b1', 'de..."
554,0,[],NaN,218473,en,"The Beans of Egypt, Maine",0.38247,[],[],1994-01-01,0.0,0.0,Released,NaN,"The Beans of Egypt, Maine",0.0,1.0,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4e4dc3a368484e21952d', 'de..."
565,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 18,...",NaN,53185,en,Wide Eyed and Legless,0.00015,[],[],1993-09-05,0.0,102.0,Released,NaN,Wide Eyed and Legless,0.0,0.0,"[{'cast_id': 1, 'character': 'Diana Longden', ...","[{'credit_id': '58a79904c3a36876e8000dde', 'de..."
566,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,95743,en,Foreign Student,0.002789,[],[],1994-07-29,0.0,90.0,Released,NaN,Foreign Student,0.0,0.0,"[{'cast_id': 1010, 'character': 'April', 'cred...","[{'credit_id': '52fe49919251416c750cc465', 'de..."
570,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,349394,en,À la mode,8.2e-05,[],[],1993-09-10,0.0,82.0,Released,NaN,À la mode,0.0,0.0,"[{'cast_id': 1, 'character': 'Mietek Breslauer...","[{'credit_id': '55aa7f2ac3a368648e004218', 'de..."
635,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,339428,de,Happy Weekend,0.002229,"[{'name': 'Senator Film Produktion', 'id': 191}]","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",1996-03-14,65335.0,NaN,Released,NaN,Happy Weekend,0.0,0.0,"[{'cast_id': 0, 'character': 'Joachim Krippo',...",[]
644,0,"[{'id': 18, 'name': 'Drama'}]",NaN,278978,de,Und keiner weint mir nach,0.439989,[],"[{'iso_3166_1': 'DE', 'name': 'Germany'}]",1996-02-29,0.0,NaN,Released,NaN,Und keiner weint mir nach,0.0,0.0,"[{'cast_id': 1, 'character': 'Leo Knie', 'cred...","[{'credit_id': '53add5d80e0a265986002932', 'de..."
645,0,"[{'id': 18, 'name': 'Drama'}]",NaN,124625,de,My Mother's Courage,0.622885,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-09-12,0.0,93.0,Released,NaN,My Mother's Courage,0.0,0.0,"[{'cast_id': 3, 'character': 'George Tabori', ...","[{'credit_id': '52fe4ab0c3a368484e161ccb', 'de..."
648,0,[],NaN,70934,en,Billy's Holiday,0.002444,[],[],1995-07-26,0.0,92.0,Released,"As of today, he's not the man he used to be!",Billy's Holiday,0.0,0.0,"[{'cast_id': 1002, 'character': 'Billy Apples'...","[{'credit_id': '52fe481ac3a368484e0e96d7', 'de..."
661,0,[],NaN,318177,en,Tarantella,0.001662,[],[],1996-03-15,0.0,100.0,Released,NaN,Tarantella,0.0,0.0,[],[]
671,0,[],NaN,185191,en,L'oeil de Vichy,0.004117,[],[],1993-05-20,0.0,110.0,Released,NaN,The Eye of Vichy,0.0,0.0,[],"[{'credit_id': '563f70cb9251414c7000e7c2', 'de..."
688,0,[],NaN,277270,en,To Cross the Rubicon,0.006854,[],[],1991-01-01,0.0,0.0,Released,NaN,To Cross the Rubicon,0.0,0.0,"[{'cast_id': 0, 'character': 'James Bird', 'cr...","[{'credit_id': '57a321c6c3a3683fa70013d8', 'de..."
710,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,131232,en,Due Amici,0.003949,[],"[{'iso_3166_1': 'IT', 'name': 'Italy'}]",2002-03-20,0.0,86.0,Released,NaN,Two Friends,0.0,0.0,"[{'cast_id': 5, 'character': 'Nunzio', 'credit...","[{'credit_id': '52fe4b72c3a368484e1896cd', 'de..."
714,0,[],NaN,365371,en,War Stories Our Mother Never Told Us,0.005625,[],[],NaN,0.0,95.0,Released,NaN,War Stories Our Mother Never Told Us,0.0,0.0,[],[]
725,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,314352,de,Honigmond,0.652621,"[{'name': 'Roxy Film', 'id': 101}, {'name': 'M...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",1996-04-11,0.0,92.0,Released,NaN,Honeymoon,0.0,0.0,"[{'cast_id': 0, 'character': 'Barbara', 'credi...","[{'credit_id': '54a1993dc3a368554200a5e5', 'de..."
729,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,124613,en,Brothers in Trouble,0.594716,"[{'name': 'Renegade Films', 'id': 19262}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1995-08-23,0.0,102.0,Released,NaN,Brothers in Trouble,0.0,0.0,"[{'cast_id': 2, 'character': 'Hussein Shah', '...","[{'credit_id': '52fe4ab0c3a368484e161b5d', 'de..."
734,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,245268,en,The Man from Down Under,0.068254,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...","[{'iso_3166_1': 'US', 'name': 'United States o...",1943-08-04,0.0,103.0,Released,THRILLS! FUN! ACTION!,The Man from Down Under,0.0,0.0,"[{'cast_id': 2, 'character': 'Jocko Wilson', '...","[{'credit_id': '52fe4f01c3a36847f82b6821', 'de..."
737,0,[],NaN,215107,en,Vermont Is for Lovers,0.75,[],[],NaN,0.0,88.0,Released,NaN,Vermont Is for Lovers,0.0,0.0,"[{'cast_id': 3, 'character': 'George', 'credit...","[{'credit_id': '52fe4df4c3a368484e20642b', 'de..."
744,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,85778,en,Maya Lin: A Strong Clear Vision,0.001608,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-11-10,0.0,105.0,Released,The story of The Vietnam Veterans Memorial and...,Maya Lin: A Strong Clear Vision,0.0,0.0,[],"[{'credit_id': '52fe495c9251416c910aac49', 'de..."
753,0,"[{'id': 18, 'name': 'Drama'}]",NaN,124633,sr,Tuđa Amerika,0.099602,"[{'name': 'MACT Productions', 'id': 393}, {'na...","[{'iso_3166_1': 'RS', 'name': 'Serbia'}, {'iso...",1995-09-09,0.0,96.0,Released,"Two friends, two worlds, one dream.",Someone Else's America,0.0,0.0,"[{'cast_id': 2, 'character': 'Alonso', 'credit...","[{'credit_id': '52fe4ab0c3a368484e161d1d', 'de..."
759,0,[],NaN,188589,en,Babyfever,0.001687,[],[],1994-05-04,0.0,109.0,Released,For those who hear their clock ticking...,Babyfever,0.0,0.0,[],"[{'credit_id': '52fe4d3c9251416c751347c9', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45308,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,429039,fr,"Jean Ziegler, l'optimisme de la volonté",0.087452,"[{'name': 'Dreampixies', 'id': 72339}]","[{'iso_3166_1': 'CH', 'name': 'Switzerland'}]",2016-11-23,0.0,0.0,Released,NaN,"Jean Ziegler, l'optimisme de la volonté",0.0,0.0,"[{'cast_id': 3, 'character': '', 'credit_id': ...","[{'credit_id': '58c05250c3a3681349000161', 'de..."
45319,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,231216,de,Villa Henriette,0.002513,[],"[{'iso_3166_1': 'AT', 'name': 'Austria'}, {'is...",2004-12-02,0.0,NaN,Released,NaN,Villa Henriette,0.0,0.0,"[{'cast_id': 2, 'character': 'Maria', 'credit_...","[{'credit_id': '52fe4de9c3a36847f8274251', 'de..."
45345,0,"[{'id': 18, 'name': 'Drama'}]",NaN,467731,en,Tragedy in a Temporary Town,0.001189,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1956-02-19,0.0,60.0,Released,NaN,Tragedy in a Temporary Town,0.0,0.0,"[{'cast_id': 2, 'character': 'Alec Beggs', 'cr...","[{'credit_id': '5975903bc3a3680cb700867b', 'de..."
45346,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,383216,en,Carole King: Natural Woman,0.033154,[],[],2016-02-19,0.0,53.0,Released,NaN,Carole King: Natural Woman,0.0,0.0,"[{'cast_id': 1, 'character': 'Herself', 'credi...","[{'credit_id': '587139b0925141356c00b59e', 'de..."
45354,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,280477,pl,Dom wariatów,0.02541,[],[],1985-09-10,0.0,93.0,Released,NaN,The House of Fools,0.0,0.0,[],"[{'credit_id': '552cd9489251413871003c79', 'de..."
45361,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,87229,is,Kóngavegur,0.008498,"[{'name': 'Mystery Productions', 'id': 88966}]","[{'iso_3166_1': 'IS', 'name': 'Iceland'}]",2010-03-26,0.0,99.0,Rumored,When you are strange,King's Road,0.0,0.0,"[{'cast_id': 0, 'character': 'Önni', 'credit_i...","[{'credit_id': '57dce13dc3a3686384003ef4', 'de..."
45362,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",http://sivgaatlogeren.nl/,383618,sv,Siv sover vilse,2.660047,"[{'name': 'Viking Film', 'id': 44438}, {'name'...","[{'iso_3166_1': 'NL', 'name': 'Netherlands'}, ...",2016-09-28,0.0,79.0,Released,Northern lights in the morning. Then it will b...,Siv Sleeps Astray,0.0,0.0,"[{'cast_id': 2, 'character': 'Siv', 'credit_id...","[{'credit_id': '56ee798c9251415e6200a606', 'de..."
45378,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,317736,pl,Pani z przedszkola,0.171539,"[{'name': 'Non-Stop Productions', 'id': 5630},...","[{'iso_3166_1': 'PL', 'name': 'Poland'}]",2014-12-25,0.0,0.0,Released,NaN,Pani z przedszkola,0.0,0.0,"[{'cast_id': 2, 'character': 'Dad', 'credit_id...","[{'credit_id': '5570afdd92514140ca001cd0', 'de..."
45380,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,108331,es,Las buenas hierbas,0.567931,[],[],2010-08-20,0.0,0.0,Released,NaN,The Good Herbs,0.0,0.0,"[{'cast_id': 1009, 'character': 'Dalia', 'cred...","[{'credit_id': '52fe4a97c3a36847f81d6f51', 'de..."
45382,0,[],NaN,418757,pl,Między nami dobrze jest,0.030803,[],[],2014-08-01,0.0,NaN,Released,NaN,Między nami dobrze jest,0.0,0.0,"[{'cast_id': 0, 'character': 'Mała metalowa dz...","[{'credit_id': '57ee6832c3a3682a2d003ccd', 'de..."
45383,0,[],http://grandmalofi.is/,103462,en,Grandma Lo-Fi,0.017109,[],[],2011-11-08,0.0,65.0,Released,The Basement Tapes of Sigrídur Níelsdóttir,Grandma Lo-Fi,0.0,0.0,[],"[{'credit_id': '52fe4a1fc3a36847f81bafb1', 'de..."
45384,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 16, 'nam...",NaN,38876,en,"Włatcy móch. Ćmoki, Czopki i Mondzioły",0.008064,[],"[{'iso_3166_1': 'PL', 'name': 'Poland'}]",2009-02-13,0.0,0.0,Released,NaN,"Włatcy móch. Ćmoki, Czopki i Mondzioły",0.0,0.0,"[{'cast_id': 2, 'character': 'Anusiak (głos)',...","[{'credit_id': '52fe46e79251416c91063a9b', 'de..."
45385,0,"[{'id': 18, 'name': 'Drama'}]",NaN,369444,pl,Ostatni dzwonek,0.000102,[],"[{'iso_3166_1': 'PL', 'name': 'Poland'}]",1989-10-27,0.0,NaN,Released,NaN,Ostatni dzwonek,0.0,0.0,"[{'cast_id': 0, 'character': 'Krzysiek Buk', '...","[{'credit_id': '564fd6a59251414b01005a8a', 'de..."
45387,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",NaN,152912,pl,Pan Kleks w kosmosie,0.648241,[{'name': 'Slovenská filmová tvorba Koliba (SF...,"[{'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso...",1988-12-05,0.0,148.0,Released,NaN,Mr. Blot in Space,0.0,0.0,"[{'cast_id': 1, 'character': 'Pan Kleks', 'cre...","[{'credit_id': '52fe4b329251416c910d2fe9', 'de..."
45388,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,68802,pl,Przyjaciel wesołego diabła,0.000151,"[{'name': 'Se-ma-for Studios', 'id': 6551}]","[{'iso_3166_1': 'PL', 'name': 'Poland'}]",1987-02-06,0.0,88.0,Released,NaN,Friend of the Jolly Devil,0.0,0.0,"[{'cast_id': 2, 'character': 'Janek', 'credit_...","[{'credit_id': '52fe47a6c3a368484e0d2821', 'de..."
45399,0,[],NaN,364865,en,The Jazz Loft According to W. Eugene Smith,0.06767,[],[],2016-02-02,0.0,87.0,Released,"Art, obsession and anxiety permeate a dilapida...",The Jazz Loft According to W. Eugene Smith,0.0,1.0,[],"[{'credit_id': '569f9623c3a36858c600a794', 'de..."
45410,0,[],NaN,335251,en,The Land Where the Blues Began,0.0,[],[],NaN,0.0,0.0,Released,NaN,The Land Where the Blues Began,0.0,0.0,[],[]
45431,0,[],NaN,270762,en,What a Fuck Am I Doing on This Battlefield,0.020752,[],[],2013-04-22,0.0,53.0,Released,NaN,What a Fuck Am I Doing on This Battlefield,0.0,0.0,[],"[{'credit_id': '537b66c6c3a3685e140019d8', 'de..."
45433,0,[],NaN,214753,en,The Airzone Solution,0.000108,[],[],1993-01-01,0.0,65.0,Released,NaN,The Airzone Solution,0.0,0.0,"[{'cast_id': 1, 'character': 'Oliver Threthewe...",[]
45439,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,449696,en,The Stranger: Summoned by Shadows,3.5e-05,"[{'name': 'BBV Productions', 'id': 88355}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1991-01-01,0.0,34.0,Released,NaN,The Stranger: Summoned by Shadows,0.0,0.0,"[{'cast_id': 0, 'character': 'The Stranger', '...","[{'credit_id': '58dd0527c3a368228a00a4d8', 'de..."
45448,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,261871,ru,Полярный рейс,0.036523,"[{'name': 'Wise Vision', 'id': 21279}]","[{'iso_3166_1': 'UA', 'name': 'Ukraine'}]",2013-12-12,0.0,90.0,Released,NaN,Polar Flight,0.0,0.0,"[{'cast_id': 4, 'character': '', 'credit_id': ...","[{'credit_id': '5335f14c9251417da100001c', 'de..."
45449,0,"[{'id': 12, 'name': 'Adventure'}]",NaN,317389,es,Simbad e il califfo di Bagdad,0.006352,"[{'name': 'Roas Produzioni', 'id': 21137}, {'n...","[{'iso_3166_1': 'IT', 'name': 'Italy'}]",1973-07-22,0.0,NaN,Released,NaN,Simbad e il califfo di Bagdad,0.0,0.0,"[{'cast_id': 0, 'character': 'Simbad', 'credit...","[{'credit_id': '54b39e629251417472006370', 'de..."
45465,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,200066,en,Il frullo del passero,0.138621,"[{'name': 'Reteitalia', 'id': 1242}]","[{'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_...",1988-01-01,0.0,95.0,Released,NaN,The Sparrow's Fluttering,0.0,0.0,"[{'cast_id': 1, 'character': 'Gabriele Battist...","[{'credit_id': '52fe4c7bc3a368484e1b9123', 'de..."
45488,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,282308,en,Rigadin peintre cubiste,0.003732,"[{'name': 'Pathé Frères', 'id': 21594}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1912-01-01,0.0,0.0,Released,NaN,"Whiffles, Cubic Artist",0.0,0.0,"[{'cast_id': 1, 'character': 'Rigadin', 'credi...","[{'credit_id': '53c71e870e0a267ff7002e99', 'de..."
45503,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,257472,en,Rivers of Sand,0.0375,[],[],1974-10-30,0.0,83.0,Released,NaN,Rivers of Sand,0.0,0.0,[],"[{'credit_id': '5704afecc3a3681f0c000315', 'de..."
45504,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,323132,en,Altar of Fire,0.0,[],[],1976-01-01,0.0,45.0,Released,NaN,Altar of Fire,0.0,0.0,[],"[{'credit_id': '5704ab009251417dab000c1f', 'de..."
45506,0,[],NaN,325439,en,Le Meraviglie di Aladino,0.093498,[],[],1961-10-31,0.0,93.0,Released,NaN,The Wonders of Aladdin,0.0,0.0,"[{'cast_id': 2, 'character': 'Aladdin', 'credi...","[{'credit_id': '54df54e5925141195a0033cb', 'de..."
45524,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,en,Deep Hearts,0.011025,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1981-01-01,0.0,58.0,Released,NaN,Deep Hearts,0.0,0.0,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de..."
45536,0,[],NaN,227506,en,Satana likuyushchiy,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,0.0,0.0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,0,[],NaN,461257,en,Queerama,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,Released,NaN,Queerama,0.0,0.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [24]:
df_merge = df_merge[df_merge.vote_average != 0]    # get rid of all row with vote_average =0

In [25]:
df_merge.id.count()

42534

In [26]:
C = df_merge['vote_average'].mean()                # C is the mean vote ratings across the whole report
print (C)

6.015052549904458

In [27]:
m = df_merge["vote_count"].quantile(0.9)           # m is the minimum number of votes required to be listed in the chart. 
print (m)                                          # our cutoff is 90th percentile. In other words, for a qualified movie, it must have more votes than at least 90% of the movies in the list

179.0

In [30]:
df_merge[df_merge["vote_count"] >= m].count()

budget                  4261
genres                  4261
homepage                1756
id                      4261
original_language       4261
original_title          4261
popularity              4261
production_companies    4261
production_countries    4261
release_date            4261
revenue                 4261
runtime                 4261
status                  4261
tagline                 3847
title                   4261
vote_average            4261
vote_count              4261
cast                    4261
crew                    4261
dtype: int64